*{
    box-sizing: border-box;
    max-width: 100%;
}
.hide{
    display: none;
}
.blur{
    filter: blur(4px);
}
.selected{
    filter: opacity(30%);
    pointer-events: none;
}

body{
    max-width: 960px;
    margin: 1rem auto;
    text-align: center;
    background-color: #8dbaba;
    color: white;
    font-family: 'Itim', cursive;
    text-transform:uppercase;
    /* cursor: url("./images/cursor.cur") auto; */
}

.main-bg img{
    width: 10rem;
    margin: 2vh auto;
  
    transform: rotate(20deg);
}

header h1{
    margin: 1rem 5px;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 2rem;
}
header .title{
    margin-top: 0;
}
header .player-turn{
    color: #558776;
}
main{
    margin: 2rem auto;
}
main  .board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px; 
    margin: 2rem auto;
    max-width: 500px;
    max-width: 95%;

}

main .board div{
    background-repeat: no-repeat;
    background-color:rgba(246, 234, 190,0.7);
    /* padding: 3rem 3rem;  */
    background-position: center;
    width: 100%;
    padding-bottom: 80%;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
    background-size:70%;    
}


/* -------------------Pre-Game Form----------------------- */

.intro .container{
    display: block;
    margin-top: 10vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2rem;
 
    border: 3px solid #f1f1f1;
    background-color: rgba(135, 170, 170,0.7);
    }
    
.intro .cat{
    margin-top: 10%;
    padding-right: 5%;
    transform: rotate(20deg);
}

.intro h1{
    font-size: 1.5rem;
}

.intro .btn{
    border: none;
    color:darkcyan;
    background-color: rgba(255,255,255,0);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}
.btn:active {
    transform: translateY(4px);
    }

.select-cat{
    max-width: 529px;
    margin: 3rem auto;
    padding: 0 2rem;
}
.select-cat h1{
    font-size: 2rem;
}
.select-cat h2{
    margin-bottom: 2.5rem;
}
.cat-imgas img{
    max-width: 100%;   
}

.gameover {
    /*   display: none; Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%;
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
    }

.gameover .container {
    max-width: 960px;
    background-color: #c5dddd;
    margin: 15rem auto;
    padding: 20px;
    width: 80%;
    height: 250px;
    border-radius: 0.5rem;
}   
.gameover .winner{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #22577E;
}

.gameover .btn {
    border: none;
    margin-top: 1rem;
    background-color: rgba(255,255,255,0);
    color: darkcyan;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.btn:hover{
    color: black;
} 


@media only screen and (min-width: 768px) {
    .intro .btn{
        font-size: 30px;
    }
    .intro h1{
        font-size: 2.5rem;
    }
    .select-cat{
        max-width: 529px;
        height: 100%;
        margin: 10rem auto;
    }
    .select-cat h1{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .select-cat h2{
        font-size: 2rem;
        margin-bottom: 5rem;
    }
    header h1 {
        margin: 1rem 5px;
        font-size: 50px;
        margin-bottom: 0;
        margin-top: 3rem;
    }
    header .player-turn {
        font-size: 2.5rem;
    }
    .gameover .container {
        height: 300px;
        margin: 25rem auto;
    }
    .gameover .winner {
        font-size: 3rem;
    }
    .gameover .btn {
        font-size: 2rem;
    }
}