header{
    text-align: center;
}
main  .board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    
    width: fit-content;
    margin: 5rem auto;
    /* background-color: white; */
    
    /* gap: 1rem; */
    /* align-content: flex-start;     */
}
main .board div{
    /* flex: 1 0 30%; */
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    background-color:#84d5d6;
     /* rgba(247, 236, 222, 0.6); */
    
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
    background-size:auto;
    background-position: center;
    padding: 5rem 5rem;
   
}



